/* COMMON */

.bg-sea {
    background-color:#33CC99; 
    color: white;
}
section{
    padding: 30px 0;
}

.small-wrapper {   
    max-width: 750px; 
    margin: auto;    
}

.centered {
    text-align: center;
}

.find-us,
.top_nav {
    background-color:#2F4F4F;
    color: white;
}

/* HEADER */
/* top nav */
.top_nav {
    padding: 10px;
}

.top_nav a {
    color:white;
}

.nav_menu {         
    padding-top: 5px;
    text-transform: uppercase;
}

.burger_menu {
    font-size: 30px;    
}

/* jumbotron */
.jumbotron img {
    width:300px;
}

.jumbotron .star {
    font-size: 25px;   
}

/* provato ad inserire righr orizzontali */
.jumbotron .star::before,
.jumbotron .star::after {
   content:"";
   display: inline-block;
   width: 15%;
   vertical-align: middle;
   border-bottom: 3px solid white;
}

/* about section */

.about {    
    /* TEST */
    height: 300px;
}

.download {
    text-align: center;
    padding: 20px 0;    
}

.download a {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    color: white;
    
}

/* Contact section */

.contact input {
    display: block;
}

/* FOOTER */

.copyright {
    background-color:#282828;
}








