/* COMMON */

.bg-sea {
    background-color:#33CC99; 
    color: white;
}
section{
    padding: 30px 0;
}

.small-wrapper {   
    max-width: 750px; 
    margin: auto;    
}

.centered {
    text-align: center;
}

.find-us,
.top-nav {
    background-color:#2F4F4F;
    color: white;
}

/* HEADER */



header nav {
    text-align: right;
}

/* jumbotron */
.jumbotron {
    
    /* TEST */
    height: 500px;
}

/* about section */

.about {    
    /* TEST */
    height: 300px;
}

.download {
    text-align: center;
    padding: 20px 0;    
}

.download a {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    color: white;
    
}

/* Contact section */

.contact input {
    display: block;
}

/* FOOTER */








